/* Start Section */
section {
  background: url(../images/mountain_baw.jpg) no-repeat;

  background-size: cover;
  /* height: calc(100vh - 240px); */
  margin: 0;
  /* position: absolute; */
  background-position: center;
  background-color: #3f3f3f;
}
section .portfolio {
  position: relative;
}
section .portfolio h2 {
  /* margin: 15px 0 0 0 !important; */
  position: relative;
  max-width: 100%;
  left: 50%;
  top: -33px;
  z-index: 1;
  text-align: center;
  transform: translate(-50%, -50%);
  color: rgb(2 60 103);
}
section .portfolio h2 span {
  color: var(--main-color);
}
section .portfolio button {
  position: relative;
  color: var(--main-color);
  border-radius: 10px;
  /* background-color: #fff0f0b0; */
  border-color: #fff0f057;
  margin: 0;
  left: 50%;
  /* top: 70px; */
  transform: translate(-50%, -50%);
}
section .portfolio button a {
  color: var(--main-color);
  text-decoration: none;
}
section .portfolio button:hover {
  border-color: #ebc6c6a5;
}
/* Start CV Content */
section .cv-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  /* margin-top: 50px; */
  text-align: center;
}

section .cv-content .srv {
  display: flex;
  margin-bottom: 20px;
}
section .cv-content .srv i {
  color: var(--main-color);
  /* flex-basis 3shan lama arou7 3al mobile yt3aml ma3 el msa7a aknaha toul w 3ard */
  flex-basis: 40px;
  font-size: xx-large;
}
section .cv-content .srv .text {
  /* 3shan ya5od ba2it el msa7a w ysbli el m7sa7a bta3t el flex-basis */
  flex: 1;
}
section .cv-content .srv .text h3 {
  font-weight: 800;
  margin: 20px 0;
}
section .cv-content .srv .text p {
  line-height: 1.6;
  color: #777;
  text-transform: capitalize;
}
section .col .my-image img {
  width: 100px;
  height: 230px;
  position: relative;
}
section .col .my-image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 47px;
  height: 76%;
  position: absolute;
  top: 18%;
  right: 117px;
  z-index: 0;
}
@media (max-width: 1199px) {
  section .col .my-image img {
    display: none;
  }
  section .col .my-image::before {
    display: none;
  }
}
@media (min-width: 992px) {
  section .cv-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
    grid-gap: 10px;
    margin-top: 50px;
    text-align: center;
  }
}
/* Samsung Galaxy Fold Screen */
@media (max-width: 325px) {
  section .cv-content .srv {
    flex-direction: column;
    text-align: center;
    font-size: small;
    margin: 0;
  }
  section .col .my-image img {
    display: none;
  }
}

/* Iphone XR Screen */
@media (max-width: 683px) {
  section .cv-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-gap: 10px;
    margin-top: 50px;
    text-align: center;
  }
  section .cv-content .srv {
    flex-direction: column;
    text-align: center;
    font-size: small;
    margin: 0;
  }
  section .col .my-image img {
    width: 100px;
    margin-bottom: 15px;
    border-radius: 50%;
  }
}
/* End CV Content */

/* End Section */
