/* Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
:root {
  --main-color: rgb(81 175 244);
  --secondary-color: #2c4755;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  /* padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; */
}
/* Samsung Galaxy Fold Screen */
@media (max-width: 325px) {
  .container {
    grid-template-columns: none !important;
  }
  .special-headers {
    font-size: 30px !important;
  }
  section .portfolio h2 {
    font-size: 15px !important;
    top: -17px !important;
  }
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Of Global Rules */
/* Special Headers */
.special-headers {
  color: #3f3f3f36;
  font-size: 75px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0 !important;
  text-transform: capitalize;
}
/* End Of Global Rules */
